* {
  margin: 0;
  padding: 0;
  font-size: x-large;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  user-select: none;
}

.App {
  min-height: 100vh;
  background-color: rgb(0, 0, 0);
  overflow: hidden;
}

.game {
  width: 100vw;
}

.scoreboard {
  height: 70vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
}

::-webkit-scrollbar {
  width: 7px
}

nav {
  display: flex;
  align-items: center;
}


.card {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  padding-inline: 1rem;
  margin: 0.4rem;
}

.name {
  max-width: 140px;
  overflow: hidden;
}

.home__main {
  display: flex;
  max-width: 100vw;
}

.navbar {
  padding: 1rem;
  border-bottom: 2px solid rgba(152, 78, 232, 0.17);
  display: flex;
  justify-content: space-between;
  margin-inline-start: 3rem;
  align-items: center;
}

.nav_title {
  font-size: 26px;
  font-weight: 600;
  background: -webkit-linear-gradient(-45deg, #b5e48c, #99d98c, #76c893, #34a0a4, #168aad);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

ul {
  margin-right: 5rem;
}

.li {
  font-size: 28px;
  margin: 1rem;
  color: rgb(99, 99, 99);
  text-decoration: none;
  font-weight: 600;
}

.nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--textColor);
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
}

.login {
  font-weight: 600;
  outline: none;
  color: rgb(110, 120, 94);
  border: 0px;
  background: transparent;
  font-size: 28px;
}

.logout {
  font-weight: 600;
  background-color: #5bc694;
  border: 0px;
  padding-inline: 0.4rem;
}

hr {
  border: 0px;
  outline: none;
  height: 2px;
  background-color: #8D5988;
}

.authentication {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth_card {
  padding-bottom: 3rem;
  padding-inline: 2rem;
  border: 2px solid #abbdff;
  margin: 2rem;
  margin-top: 4rem;
  text-align: center;
}

.auth_title {
  padding-top: 2rem;
  padding-bottom: 0.9rem;
  font-size: larger;
}

.auth_inputFields {
  margin-block: 1rem;
}

.auth_input {
  background-color: #A7AFEE;
  padding-inline: 0.5rem;
  color: rgb(67, 10, 224);
  width: 200px;
  border: 0px;
  outline: none;
}

.auth_label {
  color: #3e88b6;
  margin-right: 0.3rem;
}

.auth_form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.auth_button {
  margin-top: 3rem;
  padding-block: 0.3rem;
  border: 0px;
  /* 1F4964 */
  background-color: #5a57af;
  /* background-color: blueviolet; */
}

/* .score_list {
  height: 70vh;
  width: 50vw;
  overflow-y: scroll;
} */

.scoreboard {
  position: relative;
  z-index: 0;
  /* We force a stacking context */
  background-color: #000000;
}

/* Creates the shadow */
.scoreboard::before {
  content: "";
  position: absolute;
  z-index: -2;
  inset: -1px;
  transform: translate(1px, 8px);
  background: linear-gradient(-185deg, #b5e48c, #5bc694, #3e88b6, #5a57af);
  filter: blur(10px);
}

/* Reproduces the main element styles */
.scoreboard::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  /* Inherit all the decorations defined on the main element */
  background: inherit;
  border: inherit;
  box-shadow: inherit;
}




.obj {
  background-image: url(./assets/pipe-green.png);
}

@media screen and (max-width:560px) {
  .scoreboard {
    width: 90vw;
  }
  .card{
    min-width: max-content;

  }

  .game {
    width: 100vw;
  }

  .navbar nav ul {
    display: flex;
    flex-direction: column;
  }


  .li {
    margin: 0.5rem;
  }

  .authentication {
    flex-direction: column;
  }
}

@media only screen and (max-width:1024px) {
  .nav-btn {
    visibility: visible;
    opacity: 1;
    color: #5a57af;
  }

  nav {
    position: fixed;
    top: -100vh;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: var(--mainColor);
    transition: 1s;
    background: linear-gradient(-185deg, #b5e48c, #5bc694, #3e88b6, #5a57af);
    z-index: 2;
  }

  .navbar {
    padding: 0;
    padding-right: 1rem;
  }

  .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  .responsive_nav {
    transform: translateY(100vh);
  }
}


.back {
  background-image: url("./assets/background.png");
}

.bird {
  background-image: url("./assets/yellowbird.png");
}